.first-screen {
  background: url(../../assets/images/start-screen-gradient-background.jpg),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-repeat: no-repeat;
  background-size: cover;
}