.pets-header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-light-xl;
  z-index: 2;
}

.container > .top-wrapper {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.6);
  opacity: 1;
  z-index: 1;
}

.top-wrapper {
  @include flex-between;
  width: 100%;
  align-items: center;
  z-index: 2;
}

.toggle-wrapper {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 22px;
  margin: 0 43px 0 0;
}
.menu-toggle {
  display: block;
  width: 30px;
  height: 21px;
  box-sizing: border-box;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  &::after {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 7px 0;
  }
}

.nav {
  @include flex-between;
  align-items: center;
  z-index: 5;
}

.logo {
  min-width: 200px;
  cursor: pointer;
}

.title {
  font-size: 2.133rem;
  color: $color-dark-l;
}

.subtitle {
  @include logo-subtitle;
  color: $color-dark-3xl;
}

.nav-list {
  display: flex;
  min-width: 480px;
  z-index: 2;
}

.nav-link {
  @include paragraph-l;
  margin: 0 0 0 36px;
  padding: 0 0 2px 0;
  color: $color-dark-l;

  &:hover {
    color: $color-dark-3xl;
  }

  &:active {
    color: $color-dark-l;
    border-bottom: $color-primary solid 2px;
  }

  &[active] {
    color: $color-dark-l;
    border-bottom: $color-primary solid 2px;
  }
}
