@font-face {
  font-family: 'Georgia Regular';
  src: url('../../assets/fonts/Georgia.eot');
  src: url('../../assets/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Georgia.woff') format('woff'),
    url('../../assets/fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Regular';
  src: url('../../assets/fonts/ArialMT.eot');
  src: url('../../assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/ArialMT.woff') format('woff'),
    url('../../assets/fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Italic';
  src: url('Arial-ItalicMT.eot');
  src: url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
    url('Arial-ItalicMT.woff') format('woff'),
    url('Arial-ItalicMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}